Repository Music-Bot-for-Jitsi/Jimmi, pull requests merged in 2021-11, with the labels that each got.

#2 Added option to join password protected conferences
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Jitsi.svelte
  frontend/src/lang/en.json
  frontend/src/routes/Bot.svelte
  frontend/src/routes/Home.svelte
Labels: Feature

#3 Merge dev into main
  frontend/src/App.svelte
  frontend/src/components/Footer.svelte
  frontend/src/components/Navbar.svelte
  frontend/src/components/Spinner.svelte
  frontend/src/config.ts
  frontend/src/main.ts
  frontend/src/routes/Bot.svelte
Labels: Fix

#4 Added help command
  frontend/src/lang/en.json
  frontend/src/models/JimmiCommand.ts
  frontend/src/models/JimmiPlugin.ts
  frontend/src/plugins/MusicPlugin.ts
  frontend/src/routes/Bot.svelte
Labels: Feature

#6 Added README.md with the logo of Jimmi and templates for Issues and Pull Requests
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE_BUG.md
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE_ENHANCEMENT.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE_DOCUMENTATION.md
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE_FEATURE.md
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE_FIX.md
  README.md
  frontend/public/jimmi.svg
Labels: documentation

#7 Merge dev into master
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE_BUG.md
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE_ENHANCEMENT.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE_DOCUMENTATION.md
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE_FEATURE.md
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE_FIX.md
  README.md
  browser/rules.json
  frontend/public/favicon.ico
  frontend/public/jimmi.svg
  frontend/src/config.ts
  frontend/src/lang/en.json
  frontend/src/models/JimmiCommand.ts
  frontend/src/models/JimmiPlugin.ts
  frontend/src/plugins/MusicPlugin.ts
  frontend/src/routes/Bot.svelte
Labels: documentation, feature, fix

#9 Fixed Pull Request template issue
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE_DOCUMENTATION.md
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE_FIX.md
Labels: documentation, fix

#12 Automatic link refactoring
  frontend/src/routes/Home.svelte
Labels: feature

#11 Introduce moderator plugin
  frontend/src/components/Jitsi.svelte
  frontend/src/config.ts
  frontend/src/models/JimmiApi.ts
  frontend/src/models/JimmiCommand.ts
  frontend/src/models/JimmiPlugin.ts
  frontend/src/plugins/ModeratorPlugin.ts
  frontend/src/plugins/MusicPlugin.ts
  frontend/src/routes/Bot.svelte
Labels: feature, plugin

#13 Merge updates into main
  frontend/src/components/Jitsi.svelte
  frontend/src/config.ts
  frontend/src/models/JimmiApi.ts
  frontend/src/models/JimmiCommand.ts
  frontend/src/models/JimmiPlugin.ts
  frontend/src/plugins/ModeratorPlugin.ts
  frontend/src/plugins/MusicPlugin.ts
  frontend/src/routes/Bot.svelte
  frontend/src/routes/Home.svelte
Labels: feature, plugin
